body{ 
    font-family: Arial, sans-serif;
    margin: 0; 
    padding: 0; 
    background-color: lightgrey;
} 

.container{ 
    width: 80%;
    margin: auto; 
    overflow: hidden; 
} 

header{ 
    background: linear-gradient(135deg, #9DDDFF, #FC61FF);
    color: white; 
    padding-top: 30px;
    min-height: 70px;
    border-bottom: #eec2ff 3px solid;
} 

header a{ 
    color: #FFFFFF;
    text-decoration: none;
    text-transform: lowercase;
    font-size: 16px;
}

header ul{ 
    padding: 0;
    list-style: none;
} 
  
header li{ 
    float: left;
    display: inline;
    padding: 0 20px 0 20px; 
} 
  
header #branding h1{ 
    float: left;
    margin: 0;
}
  
header nav{ 
    float: right;
    margin-top: 10px;
}
  
header a:hover{ 
    color: lightgrey;
    font-weight: bold;
} 

header.highlight, header .current a{ 
    color: #efc7ff;
    font-weight: bold;
}

.album-list{ 
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding 20px 0; 
} 
.album{ 
    width: 30%;
    background: gold;
    margin-bottom: 20px;
    box-shadow: 0 4px 8px rbga(0, 0, 0, 0, 1);
    transition: transform 0.3s ease; 
}

.album: hover{ 
    transform: translateY(-10px);
} 

.album img{ 
    /*width: 100%;*/
    width: 163px;
    height: 163px;
    display: block;
} 

.album-info{ 
    padding: 15px;
} 

.album-info h3{ 
    margin: 0;
    padding-bottom: 10px;
} 

.album-info p{ 
    color: #555;
}